<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>casa del donors</title>
  </head>

  <body>

    <div class="header">
      <h1>Casa Del Donors</h1>
    </div>
    <br />

    <div class="content">
      <h4>Welcome to Casa Del Donors</h4>
      <br /><br /><br /><br />
    </div>
      <a href="{{ url_for('clothes') }}">
        <button>clothes</button>
      </a>

      <br />
      <br />

      <a href="{{ url_for('toys') }}">
        <button>TOYS</button>
      </a>

    <br />
    <br />

    <a href="{{ url_for('money') }}">
      <button>money</button>
    </a>

    <br />
    <br />

    <a href="{{ url_for('household') }}">
      <button>Household</button>
    </a>
    <div class="container">
    </div>

  </body>
</html>
