<!DOCTYPE html>
<html>
  <head>
    <title>User Entry</title>
  </head>
  <body>
    <form method="POST">
      <label>Enter Email:</label>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        required
      /><br />
      <label>Enter Password:</label>
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
      /><br />

      <input type="submit" value="Sign In" />
    </form>
  </body>
</html>
